PORT=3003

JWT_SECRET=
JWT_SECONDS_EXPIRE=28800

DB_LOGGING=true
DB_HOST=localhost
DB_USERNAME=
DB_PASSWORD=docker
DB_NAME=saev
DB_SYNC=true
DB_PORT=3306


HTTP_BASIC_USER_HERBY=
HTTP_BASIC_PASS_HERBY=

MAIL_HOST=
MAIL_PORT=
MAIL_SERVICE=
MAIL_USER=
MAIL_PASS=
MAIL_REPLY=

FRONT_APP_URL=http://localhost:3000